.Game {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* ================Image and Drop zone================*/
.main-grid {
  height: 70%;
  width: 70%;
  /* margin: 5%; */
  top: 40px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.main-grid img {
  max-height: 100%;
  max-width: 100%;
}

.main-grid h1 {
  color: rgb(2, 2, 2);
  font-size: 3vw;
}
.user-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* ================Grid form================*/
.grid-form {
  background-color: rgba(92, 45, 45, 0.75);
  border-radius: 5px;
  height: 150px;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 80%;
  grid-template-rows: repeat(4, 20px) 30px;
  gap: 5px;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.grid-form,
.grid-form input {
  color: white;
}
.grid-form input {
  background-color: rgba(157, 157, 157, 0.5);
  border-radius: 2px;
  border: none;
}

/* ================Main Grid================*/
.Grid {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
}

/* ================Buttons================*/
.Delete-grid,
.Clip-grid,
.Reset-grid,
.Replay-grid {
  position: absolute;
  border: none;
  border-radius: 5px;
  outline: 0;
  height: 40px;
  width: 60px;
  font-weight: bold;
}

.Reset-grid:hover {
  color: #9b0b0b;
}

.Clip-grid {
  transform: translate(-75%, -100%);
}
.Delete-grid {
  transform: translate(75%, -100%);
}
.Replay-grid {
  transform: translate(-75%, -100%);
}
/* ================Cards, Squares, and Carousel================*/
.rec-carousel-wrapper {
  z-index: 600;
  position: absolute;
  transform: translateY(70vh);
}

.Square {
  display: inline-block;
  z-index: 500;
  position: absolute;
  border-radius: 10px;
  border: dashed;
}

/* ================Score of player================*/
.Score-board {
  display: inline-block;
  transform: translate(75%, -100%);
}
.Score-board b {
  display: block;
  text-align: left;
}
